[submodule "meta-openinkpot"]
	path = meta-openinkpot
	branch = master
	url = https://github.com/OpenInkpot/meta-openinkpot.git
[submodule "oe-core"]
	path = oe-core
	branch = dizzy
	url = git://git.openembedded.org/meta-openembedded
[submodule "poky"]
	path = poky
	branch = dizzy
	url = git://git.yoctoproject.org/poky
