[submodule "meta-openinkpot"]
	path = meta-openinkpot
	url = https://github.com/lunohod/meta-openinkpot.git
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
